*.run
*.ext
__pycache__
output_*/
archive/
*.net
*.tcl
*.log
work/
.DS_store
*.so
*.pdf
*.gds
.cache
.local/
build/
work/lvs
work/gds
work/drc
work/xsch
work/lvs/
work/cdl/
work/cdltest/
work/gds/
work/xsch/
work/drc/
